<main class="about">
  <div class="column is-three-fifths">
<form class="signup-form box">
  <h1 class="title is-4 has-text-centered"> Join Our Community!</h1>
  <!-- Sign Up Fields Begin! -->
  <div class="field">
    <label class="label "for="username-signup">Username</label>
    <div class="control has-icons-left">
    <input class="input" type="text" id="username-signup" placeholder="johnsmith08"/>
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
   </div>
  </div>
  <div class="field">
    <label class="label" for="email-login">Email</label>
    <div class="control has-icons-left">
    <input class="input" type="email" id="email-signup" placeholder="e.g johnsmith@example.com" />
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
   </div>
  </div>
  <br>
   <div class="field">
    <label class ="label" for="password-login">Password</label>
    <div class="control">
    <input class ="input" type="password" id="password-signup" placeholder="*******"/>
    </div>
  </div>
  <br>
  <div>
    <!-- Confirm Sign Up! -->
    <button class="button is-info is-medium" type="submit">sign up</button>
  </div>
  </div>
</form>
  <!-- End of Form -->
  <!-- About our site! -->
 <section class="column">
                <div class=" box is-align-self-flex-end">
                    <h2 class="title is-4 has-text-centered">About Us</h2>
                    <p class="has-text-centered">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione, libero itaque obcaecati cumque a accusantium enim ipsum corrupti quis quibusdam illo doloribus distinctio facere impedit, quos totam velit. Earum, facilis?Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sapiente, praesentium. Tenetur, maiores praesentium, sint nostrum consectetur amet ullam odio quas qui vel deserunt esse voluptatem vero earum sequi quod soluta?Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam nihil autem libero eum minima suscipit perferendis quod. Distinctio nobis doloremque dignissimos quaerat consequatur. Enim obcaecati voluptas esse dolores voluptate libero!Lorem
                    </p>
                </div>
            </section>
</main>
<script src="/javascript/signin.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
 <link rel="stylesheet" href="/stylesheets/style.css">